body{
    background-color: grey;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    display: grid;
    height: 950px;
    width: 950px;
    background-color: white;
}

